.caja{
    height: 350px;
    width: 350px;
    margin: 3%;
    background-color: aliceblue;
    outline: 1px solid black;
    transition: .5s; 
}

@keyframes flotar{
    0%{transform: translateY(0);}
    50%{transform: translateY(10px);}
    0%{transform: translateY(0);}
}
.caja:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 20px black;
}
.img{
    height: 55%;
    object-fit: scale-down;
    display: block;
    margin: 0 auto;
}
.detalles {
    border: none;
    height: 140px;
    background-color: #284596;
    transition: all .7s;
}
.caja:hover .detalles {
    transition: .7s;
    background-image: linear-gradient(90deg,#5858be,#6683d1) ;
}
.precio-antes{
    color: rgb(96, 9, 9);
}
.detalles p {
    text-align: center;
    margin-bottom: -10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nombre-producto {
    margin-bottom: -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.btn-comprar{
    height: 30px;
    display: block;
    margin: 0 auto;
    padding: 0 30px;
    border-radius: 20px;
    background-color: rgb(171, 171, 171);
    border: none;
    cursor: pointer;
    transition: .3s;
    margin-top: 5px;
}
.btn-comprar:hover{
    outline: 1px solid black;
    background-color: #349913;
    padding: 0 55px;
}











