* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bars__menu {
    width: 30px;
    height: 25px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-70%, -70%) scale(1.1);
    cursor: pointer;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.bars__menu.active span {
    /* Estilos para líneas activas */
    transform: rotate(45deg) translate(-2px, 1px);
}

.bars__menu.active span:nth-child(2) {
    opacity: 0;
    margin-left: -30px;
}

.bars__menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(-4px, 2px);
}